extends layout.pug

block content
    h1 404 - Page Not Found
    p Sorry, we couldnt find the page you were looking for
    div
        a(href='/') Home
        a(href='/users/log-in') Login
        a(href='/users/sign-up') Sign Up
