extends layout.pug

append head
    script(src="/javascripts/index.js" type="module" defer)

block content
    h2#community-h2 Welcome to the community page!
    h3#community-h3 Here you can see what others are climbing, their thoughts on those climbs, and what they are looking forward to climbing.
    .all-users-container
        each user in users
          div.individual-user
            img(class="profile" src="https://plumepoetry.com/wp-content/uploads/2019/12/default-profile.png" height="80px" width="80px")
            p.user-p #{user.username}
            a.community-aTag(href=`/users/${user.id}`)
              div.user-profile Profile
            a.community-aTag(href=`/users/${user.id}/climb-list`)
              div.user-climb-list Climb Lists
            a.community-aTag(href=`/users/${user.id}/reviews`)
              div.user-reviews Recent Reviews
