extends layout.pug

block content
    table
        thead
            tr
                th Avatar
                th User
        tbody
            each user in users
                tr
                    td
                    td: a(href=`/users/${user.id}`) #{user.username}
