extends layout.pug

block content
    h2 Have Climbed
    ul
    each route in climbListRoutes
        if route.haveClimbed === true
            li= route.Route.name
    h2 Want to Climb
    ul
    each route in climbListRoutes
        if route.haveClimbed === false
            li= route.Route.name
