extends layout.pug

block content
    h2 Want to Climb List
    ul
    each route in climbListRoutes
        if route.haveClimbed === true
            li= route.Route.name
    h2 Have Climbed List
    ul
    each route in climbListRoutes
        if route.haveClimbed === false
            li= route.Route.name
