extends layout 

append head 

    block content 
    h1 The Developers Behind the Routes 
        div
        h2 Jay Hutts 
            p 
            img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png")
            img(src="https://logos-world.net/wp-content/uploads/2020/04/Linkedin-Logo.png")
        div
        h2 Lynn Luong 
            p 
            img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png")
            img(src="https://logos-world.net/wp-content/uploads/2020/04/Linkedin-Logo.png")
        div
        h2 Brandon Flores 
            p
            img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png") 
            img(src="https://logos-world.net/wp-content/uploads/2020/04/Linkedin-Logo.png")
        div
        h2 Zeke Hashimoto 
            p
            img(src="https://cdn-icons-png.flaticon.com/512/25/25231.png")
            img(src="https://logos-world.net/wp-content/uploads/2020/04/Linkedin-Logo.png")