extends layout

block content
    link(rel="stylesheet" href="/stylesheets/index.css")
    h1= title
        div
        h2 Jay Hutts
            p
                a(href="https://github.com/jay-bean")
                    img(src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-square-1024.png" id="jay-gh")
                a(href="https://www.linkedin.com/in/jay-hutts-300ab9180/")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="jay-li")

        div
        h2 Lynn Luong
            p
                a(href="https://github.com/lynnluong04")
                    img(src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-square-1024.png" id="lynn-gh")
                a(href="http://www.linkedin.com/in/lynn-luong-905740139")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="lynn-li")

        div
        h2 Brandon Flores
            p
                a(href="https://github.com/brandonflores647")
                    img(src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-square-1024.png" id="brandon-gh")
                a(href="https://www.linkedin.com/in/brandon-flores-798b98239/")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="brandon-li")

        div
        h2 Zeke Hashimoto
            p
                a(href="https://github.com/e-hashimoto")
                    img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="zeke-gh")
                a(href="https://www.linkedin.com/in/exequiel-hashimoto/")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="zeke-li")
