extends layout

block content
    link(rel="stylesheet" href="/stylesheets/index.css")
    h1(id='contact-us-title')= title
    div(class='contact-us-container')
        div(class='contact-us-individual')
            h2 Jay Hutts
            div(class='contact-us-individual-info')
                img(src='https://avatars.githubusercontent.com/u/46910262?v=4')
                a(href="https://github.com/jay-bean" target="_blank" rel="noopener noreferrer")
                    img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="jay-gh")
                a(href="https://www.linkedin.com/in/jay-hutts-300ab9180/" target="_blank" rel="noopener noreferrer")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="jay-li")
        div(class='contact-us-individual')
            h2 Lynn Luong
            div(class='contact-us-individual-info')
                img(src='https://avatars.githubusercontent.com/u/100899731?v=4')
                a(href="https://github.com/lynnluong04" target="_blank" rel="noopener noreferrer")
                    img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="lynn-gh")
                a(href="http://www.linkedin.com/in/lynn-luong-905740139" target="_blank" rel="noopener noreferrer")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="lynn-li")
        div(class='contact-us-individual')
            h2 Brandon Flores
            div(class='contact-us-individual-info')
                img(src='https://avatars.githubusercontent.com/u/100805072?v=4')
                a(href="https://github.com/brandonflores647" target="_blank" rel="noopener noreferrer")
                    img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="brandon-gh")
                a(href="https://www.linkedin.com/in/brandon-flores-798b98239/" target="_blank" rel="noopener noreferrer")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="brandon-li")
        div(class='contact-us-individual')
            h2 Zeke Hashimoto
            div(class='contact-us-individual-info')
                img(src='https://avatars.githubusercontent.com/u/97130941?v=4')
                a(href="https://github.com/e-hashimoto" target="_blank" rel="noopener noreferrer")
                    img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="zeke-gh")
                a(href="https://www.linkedin.com/in/exequiel-hashimoto/" target="_blank" rel="noopener noreferrer")
                    img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="zeke-li")
