extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="top-container")
    div(id="top-image-container")
      img(src="../images/home-page/107772044_medium_1494210484.jpg")
      img(src="../images/home-page/106650415_medium_1494128802.jpg")
      img(src="../images/home-page/109295012_medium_1494345793.jpg")
      img(src="../images/home-page/istockphoto-146767207-612x612.jpg")
      img(src="../images/home-page/rock-climbing-reference-caldwell.jpg")
    div(id='top-container-info')
      h1(id='top-container-title') Welcome to Rendering Routes
      p(id='top-container-p') We're on a mission to connect climbers to awesome rocks. Join the community and post about your favorite routes and crags. Review other posts to give feedback to the community.




  div
    h3 Explore the most popular routes
    //- Are we doing a few states or how many are we deciding to do?
    -//
      ul
        li: a(href='/routes/1') Random Route
        li: a(href='/routes/2') Where are we going?
        li: a(href='/routes/3') Maybe here?

  div
    h3 Had fun on a specific route?
      p Leave a review on your most recent route!
      a(href='/routes') Find a Route
