extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  section(aria-label="Example Crags")
    div(id="crag-container")
      div(id="crag-image")
        a(href="/crags/7")
          img(src="https://cdn2.apstatic.com/photos/climb/105957832_medium_1558029938.jpg" alt="Alaska > Denali National Park")




  div
    h3 Explore the most popular routes
    //- Are we doing a few states or how many are we deciding to do?
    -//
      ul
        li: a(href='/routes/1') Random Route
        li: a(href='/routes/2') Where are we going?
        li: a(href='/routes/3') Maybe here?

  div
    h3 Had fun on a specific route?
      p Leave a review on your most recent route!
      a(href='/routes') Find a Route
