extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  p Welcome to Rendering Routes
  if locals.authenticated
    p Welcome #{user.username}!
    form(action='/users/log-out' method='post')
      button(type='submit') Logout
  else
    div
      a(href='/users/log-in') Login
      a(href='/users/sign-up') Sign Up
