extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="top-container")
    div(id="top-image-container")
    div(id='top-container-info')
      h1(id='top-container-title') Welcome to Rendering Routes
      p(id='top-container-p') We're on a mission to connect climbers to awesome rocks. Join the community and post about your favorite routes and crags. Review other posts and give feedback to the community.
  div(id='home-page-content-container')
    div(id='home-page-content-left')
    div(id='home-page-content-right')
