extends layout.pug

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="top-container")
    div(id="top-image-container")
    div(id='top-container-info')
      h1(id='top-container-title') Welcome to Rendering Routes
      p(id='top-container-p') We're on a mission to connect climbers to awesome rocks. Join the community and post about your favorite routes and crags. Review other posts and give feedback to the community.
  div(id='home-page-content-container')
    div(id='home-page-content-left')
      div(id='home-page-content-left-info')
        div(id='home-page-content-left-info-1')
          h3(class='home-page-info-h3') Deciding what to climb next?
          p(class='home-page-left-info-p') Rendering routes has your back! Select from one of our many routes or crags to plan your next trip.
        div(id='home-page-content-left-info-2')
          h3(class='home-page-info-h3') What are your friends climbing?
          p(class='home-page-left-info-p') Visit our community page to checkout what other users have in their climb list! Add climbs to your wish list or your completed list.
      div(id='home-page-content-left-crags')
        h3(class='home-page--info-h3') Explore most popular crags
        div(id='home-page-crag-container')
    div(id='home-page-content-right')
      h3(class='home-page-info-h3') Explore most popular routes
      div(id='home-page-route-container')
