doctype html
html
  head
      block head
        title="Rendering Routes"
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet")
  body
    div(id='nav-bar-container')
      a(href='/')
        img(src='/images/rendering-routes-logo.png')
      div(id='nav-bar-navigations')
        a(href='/routes' class='navbar-navigations') Routes
        p(class='bar') |
        a(href='/crags' class='navbar-navigations') Crags
        p(class='bar') |
        a(href='/users' class='navbar-navigations') Community
        p(class='bar') |
        a(href='/contact-us' class='navbar-navigations') Contact Us
      if locals.authenticated
        div(id='nav-bar-profile-info')
          p(id='nav-welcome') Welcome #{locals.user.username}!
          form(action='/users/log-out' method='post')
            button(type='submit' id='nav-logout-button') Logout
          a(href=`/users/${user.id}/climb-list` id='nav-climblist-button') Climb List
          a(href=`/users/${user.id}` id='nav-profile-button') My Profile
      else
        div(id='nav-bar-login-signup')
          form(action='/users/demo/log-in' method='post')
            button(type='submit' id='nav-demo-login') Demo User
          a(href='/users/log-in' id='nav-login-button') Login
          a(href='/users/sign-up' id='nav-signup-button') Sign Up
    div(id="page-container")
      div(id="content-wrap")
        block content

      footer
        div(id='footer-bar')
          div(class='footer-info-container')
            p Jay Hutts
            a(href="https://github.com/jay-bean" target="_blank" rel="noopener noreferrer")
              img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="jay-gh")
            a(href="https://www.linkedin.com/in/jay-hutts-300ab9180/" target="_blank" rel="noopener noreferrer")
              img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="jay-li")
          div(class='footer-info-container')
            p Lynn Luong
            a(href="https://github.com/lynnluong04" target="_blank" rel="noopener noreferrer")
              img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="lynn-gh")
            a(href="http://www.linkedin.com/in/lynn-luong-905740139" target="_blank" rel="noopener noreferrer")
              img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="lynn-li")
          div(class='footer-info-container')
            p Brandon Flores
            a(href="https://github.com/brandonflores647" target="_blank" rel="noopener noreferrer")
                img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="brandon-gh")
            a(href="https://www.linkedin.com/in/brandon-flores-798b98239/" target="_blank" rel="noopener noreferrer")
                img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="brandon-li")
          div(class='footer-info-container')
            p Exequiel "Zeke" Hashimoto
            a(href="https://github.com/e-hashimoto" target="_blank" rel="noopener noreferrer")
              img(src="https://t2marketinginternational.com/wp-content/uploads/2018/06/Github-Logo-450x450.png" id="zeke-gh")
            a(href="https://www.linkedin.com/in/exequiel-hashimoto/" target="_blank" rel="noopener noreferrer")
              img(src="https://www.maryville.edu/wp-content/uploads/2015/11/Linkedin-logo-1-550x550-300x300.png" id="zeke-li")
