extends layout.pug

include utils.pug

block content
  h1 Create a Route
  +validationErrorSummary(errors)
  +validationErrorSummary(errors)
  form(action='/routes' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Name', 'name', route.name)
    label Crag the route belongs to:
    select
      each crag in crags
        option(value=crag.id) #{crag.name}
    +field('Description', 'decsription', route.decsription, 'textarea')
    +field('Image', 'image', route.image)
    +field('Difficulty', 'difficulty', route.difficulty)
    +field('Height', 'height', route.height)
    +field('Protection', 'protection', route.protection)
    +field('Type of Climb', 'type', route.type)
    div
      button(type='submit') Create
      a(href='/routes' ) Cancel
