extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/login.css")

include utils.pug

block content
  +validationErrorSummary(errors)
  div.login-container
    div.login-form-container
      h2.title Sign in to Renderingroutes
      form(action='/users/log-in' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email)
        +field('Password', 'password', null, 'password')
        div
          p.blurb Adventure awaits, find your next climb with us, here on Renderingroutes!
          button(type='submit' class="submit") Login
      div.bottom
        p.text Don't have an account?
          a(href='/users/sign-up' class="sign-up") Sign up
        form(action='/users/demo/log-in' method='post')
          button(type='submit' class="demo") Log in as Demo User
        a(href='/' class="cancel") Cancel
