#footer-bar {
    width: 100%;
    height: var(--nav-height);
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    background-color: #3B4E4C;
    font-size: 24px;
    font-weight: 500;
    color: white;
    align-items: center;
    position: absolute;
    bottom: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: var(--nav-height);
}

.footer-info-container {
    display: flex;
    align-items: center;
}

.footer-info-container > p {
    margin-right: 20px;
}

.footer-info-container > a > img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
