h1 {
    color: white;
}

.crags-fade::before, .crags-fade::after {
    box-sizing: border-box;
}

#sample-crags-container {
    justify-content: center;
    padding: 50px 50px 0px 0px;
    align-content: center;
    
}

.text {
    font-size: 24px;
}
