/* #route-page-div {
  margin: 30px 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 40% 50%;
} */

.h1-route {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: #3B4E4C;
  font-family: 'Abhaya Libre', serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: .2em;
  text-shadow:
  2px 2px 0px #d5d5d5,
  2px 2px 0px rgba(0, 0, 0, 0.2);
}

#h2-route {
  color: #3B4E4C;
  font-family: 'Abhaya Libre', serif;
  font-size: 20px;
}

#route-edit-button {
  background-color: #808080;
  border-radius: 5px;
  border: thin double #ffffff;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}
