#h1-routes {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-family: 'Abhaya Libre', serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: .2em;
  text-shadow:
  2px 2px 0px #d5d5d5,
  2px 2px 0px rgba(0, 0, 0, 0.2);
}

hr {
  margin: auto;
  border: 0;
  border-top: thin solid #ccc;
  height: 1px;
  width: 43%;
  align-content: center;
}

#h2-routes {
  margin-bottom: 60px;
  text-align: center;
  color: #000000;
  font-family: 'Abhaya Libre', serif;;
  font-weight: 400;
  font-size: 26px;
}

#h3-btn-div {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#h3-routes {
  color: #575757;
  font-style: italic;
  font-size: 18px;
  width: 70%;
}

#div-btn {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#routes-btn {
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-family: inherit;
  background-color: #587B7F;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 120px;
}

#routes-btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

table {
  border-collapse: collapse;
  margin-top: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.10);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2em;
}

thead {
  background-color: #C0CDB8;
  color: #000000;
  text-align: left;
  width: 100%;
}

tr {
  width: 100%;
}


th, td {
  padding: 1em;
}

#row-highlight:hover {
  background-color: #C0CDB8;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.route-links {
  text-decoration: none;
  color: #000000;
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

#edit-route-h1 {
  font-size: 26px;
  width: 100%;
  text-align: center;
  margin-top: 6%;
}

#route-edit-form {
  margin-top: 20px;
  margin-left: 35%;
  margin-right: 35%;
  padding: 12px;
  width: 30%;
  height: 600px;
  border-radius: 30px;
  border: thin solid black;
}

#edit-name {
  display: block;
}
#edit-difficulty {
  display: block;
}
#edit-height {
  display: block;
}
#edit-type {
  display: block;
}
#edit-protection {
  display: block;
}
#edit-description {
  display: block;
}
#edit-crag2 {
  display: block;
}

@media only screen and (max-width: 560px) {
  #h3-btn-div {
    margin: 0 2%;
    width: 96%;
  }
  table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .th-none {
    display: none;
  }
  #h3-routes {
    font-size: 14px;
  }
  #routes-btn {
    width: 80px;
    font-size: 14px;
  }
}


@media only screen and (max-width: 680px) {
  #h3-btn-div {
    margin: 0 2%;
    width: 96%;
  }
  table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
