#grid-route {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  align-items: center;
}
#h1-hr {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  margin-bottom: 60px;
}

.h1-route {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #3B4E4C;
  font-family: 'Abhaya Libre', serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: .2em;
  text-shadow:
  2px 2px 0px #d5d5d5,
  2px 2px 0px rgba(0, 0, 0, 0.2);
}

.route-hr {
  margin: auto;
  border: 0;
  border-top: thin solid #ccc;
  height: 1px;
  width: 43%;
}

#h2-route {
  color: #3B4E4C;
  font-size: 20px;
  grid-row: 2;
  grid-column: 4 / 5;
}

.h3-route {
  font-size: 20px;
  font-weight: 400;
}

#all-attr {
  margin-top: 20x;
  margin-left: 60px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgb(156, 156, 156, .3);
  box-shadow: 2px 2px 0px rgba(156, 156, 156, .3);
  border: 4px double rgb(161, 160, 160);
  border-radius: 40px;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  max-width: 400px;
}
/* #difficulty-route {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#height-route {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
#type-route {
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}
#protection-route {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
#description-route {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
#crag-route {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
} */
#form-div {
  max-width: 400;
}
#rating-of-review {
  margin-left: 20px;
  margin-right: 20px;
}
#review-form {
  grid-row: 3 / 4;
  grid-column: 3 / 5;
  margin-top: 20x;
  margin-left: 100px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: rgb(149, 178, 178);
  box-shadow: 2px 2px 0px gb(149, 178, 178, .3);
  border: 4px double #587B7F;
  border-radius: 35px;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#h2-review {
  grid-row: 5;
  grid-column: 1/ 2;
  text-align: left;
  margin-top: 30px;
  margin-left: 10%;
  color: #3B4E4C;
  font-family: 'Abhaya Libre', serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: .2em;
  text-shadow:
  2px 2px 0px #d5d5d5,
  2px 2px 0px rgba(0, 0, 0, 0.2);
}
#review-container {
  grid-row: 7 / 8;
  grid-column: 1 / 5;
  border: 2px solid rgb(146, 146, 146);
  border-radius: 6px;
  max-height: 290px;
  overflow-y: scroll;
  text-align: center;
}

#single-review {
  margin-left: 20px;
  margin-right: 20px;
  grid-column: 1 / 5;
  display: flex;
  flex-flow: row wrap;
  max-width: 800px;
  justify-content: space-around;
}

#review-head {
  grid-row: 6;
  grid-column: 1 / 5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size:18px;
  color: #3B4E4C;
}

#title-of-review {
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

#rating-of-review {
  margin-top: 10px;
  border-radius: 6px;
}

#description-of-review {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 6px;
}

#climb-list-div {
  grid-row: 2;
  grid-column: 4 / 5;
}

#button-edit {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  z-index: 1;
}

#route-edit-button {
  background-color: #808080;
  border-radius: 5px;
  border: thin double #ffffff;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

#route-edit-button:hover {
  background-color: #587B7F;
  color: #ffffff;
}

.edit-submit {
  background-color: #808080;
  border-radius: 5px;
  border: thin double #ffffff;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.edit-submit:hover {
  background-color: #587B7F;
  color: #ffffff;
}

.review-submit  {
  margin-bottom: 20px;
  /* margin-left: 350px; */
  align-self: right;
  background-color: #808080;
  border-radius: 5px;
  border: thin double #808080;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.review-submit:hover {
  background-color: #587B7F;
  color: #ffffff;
}

.save-climb-status  {
  margin-top: 10px;
  background-color: #808080;
  border-radius: 5px;
  border: thin double #ffffff;
  padding: 4px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.save-climb-status:hover {
  background-color: #587B7F;
  color: #ffffff;
}
