body {
    background: url(/images/faded-mountain.png) no-repeat bottom 100px right -40px;
    background-size: 700px 200px;
}


h1.addroute {
    text-align: center;
    color: #1E2019;
}
.add-route-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    grid-template-rows: 100px 1fr;
}

h1.addroute {
    grid-row-start: 1;
}

.add-route-form-container {
    grid-row-start: 2;
    display: block;
    height: 80vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

form.addroute {
    height: inherit;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 1fr 1fr 40px;
}

.name-crag-container {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: auto;
    margin-right: auto;
}
.height-climb-image-container {
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

.description-difficulty-container {
    grid-column-start: 3;
    grid-row-start: 1;
    display: grid;
    justify-content: left;
    align-items: flex-start;
}

.protection-outer-container {
    grid-column-start: 3;
    grid-row-start: 2;
    display: grid;
    justify-content: left;
    align-items: flex-start;
}

.bottom-page {
    grid-column-start: 2;
    grid-row-start: 3;
    display: grid;
    justify-content: right;
    align-items: center;
}

label.addroute,
input.addroute,
textarea.addroute,
select.addroute,
#crag-link,
.bottom-page {
    display: block;
}

input.addroute {
    height: 36px;
    width: 314px;
    border: 1px solid gray;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 6.4px 12.8px;
    transition: background-color 0.5s
}
input.addroute:hover {
    background-color: #e5e5e5;
}

textarea.addroute {
    border-radius: 10px;
    padding: 10px 16.8px;
    width: 314px;
    height: 114px;
    transition: background-color 0.5s;
    background-color: #FAFAFA;
}

textarea.addroute:hover {
background-color: #e5e5e5;
}

#description-input {
    margin-top: 0;
}
#description-label {
    margin-bottom: 0;
}

#height-label {
    margin-left: 5px;
}

#crag-input {
width: 314px;
height: 36px;
}

#redirect-label {
    margin-top: 20px;
    margin-left: 5px;
}

#name-input {
    margin-bottom: 20px;
}

#name-label {
    margin-top: 20px;
}

#description-label {
    margin-top: 20px;
}

button.addroute {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #587B7F;

    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

button.addroute:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.cancel {
    margin-left: 20px;
}
