body {
    background: url(/images/faded-mountain.png) no-repeat bottom 100px right -40px;
    background-size: 700px 200px;
}

h1.addroute {
    text-align: center;
    color: #1E2019;
}
.add-route-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    grid-template-rows: 100px 1fr;
    margin-bottom: 3em;
}

h1.addroute {
    grid-row-start: 1;
}

.add-route-form-container {
    grid-row-start: 2;
    display: block;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

form.addroute {
    height: inherit;
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: space-between;
}

.name-crag-container {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.crag-container #crag-input {
  width: 100%;
  line-height: 1.80;
  width: 100%;
  border: 1px solid gray;
  background-color: #FAFAFA;
  border-radius: 10px;
  padding: 6.4px 12.8px;
  transition: background-color 0.5s
}

.height-climb-image-container {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.description-difficulty-container {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.protection-outer-container {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

label.addroute,
input.addroute,
textarea.addroute,
select.addroute,
#crag-link {
    display: block;
}

#crag-link {
  text-decoration: none;
  color: #587B7F;
}

#crag-link:hover {
  text-decoration: underline;
}

input.addroute {
    line-height: 1.80;
    width: 100%;
    border: 1px solid gray;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding: 6.4px 12.8px;
    transition: background-color 0.5s
}
input.addroute:hover {
    background-color: #e5e5e5;
}

textarea.addroute {
    border-radius: 10px;
    padding: 10px 16.8px;
    width: 314px;
    height: 114px;
    transition: background-color 0.5s;
    background-color: #FAFAFA;
}

textarea.addroute:hover {
background-color: #e5e5e5;
}

#description-input {
  width: 100%;
  margin-bottom: 1em;
}

#height-label {
    margin-left: 5px;
}

#crag-input {
width: 314px;
height: 36px;
}

#redirect-label {
    margin-top: 20px;
    margin-left: 5px;
}

#name-input {
    margin-bottom: 20px;
}

#name-label {
    margin-top: 20px;
}

#description-label {
    margin-top: 20px;
}

button.addroute {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: #587B7F;

    border: none;
    border-radius: 50px;
}

button.addroute:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}
.cancel {
    margin-left: 20px;
    text-decoration: none;
    color: #587B7F;
}
.cancel:hover {
  margin-left: 20px;
  text-decoration: underline;
}

#protection-input {
  width: 100%;
}

input {
  margin-bottom: 1em;
}

label {
  margin-bottom: 1em;
}

@media only screen and (max-width: 860px) {
  .add-route-container {
    margin-bottom: 16em;
  }
  form.addroute {
    flex-flow: column;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    justify-content: space-between;
  }
  .name-crag-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .description-difficulty-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .height-climb-image-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .protection-outer-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
